/* Custom Styles */



/* FIREFOX SIDEBAR */
/* soure: "./extensions/sidebar.css" */

/* Fix for FirefoxSidebar */
#PersonalToolbar {
  padding-left: 100 !important;
}

/* Sidebar width */
#sidebar-box{
  --uc-sidebar-width: 43px;
}



/* TABS TOOLBAR */

/* Show Tabs Toolbar */
#TabsToolbar {
  visibility: visible !important;
  /* Leave space for Windows avigation bar (#nav-bar)  */
  margin-right: 98px;
}

/* Hide Tabs (Toolbar space itself will be visible) */
/*#TabsToolbar {visibility: collapse !important;}*/

/* Hide Tabs Toolbar (fix for hide toolbar completely) */
/* @import url("./remove_tabs_toolbar.css"); */



/* OTHER */

/*#navigator-toolbox {visibility: collapse;}*/

/*#sidebar-box #sidebar-header {display: none;}*/